<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sjy.githubtest">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MypageActivity" android:noHistory="true"></activity>
        <activity android:name=".ShopActivity" android:noHistory="true"> </activity>
        <activity android:name=".RankingActivity" android:noHistory="true"></activity>
        <activity android:name=".DonateActivity" android:noHistory="true"></activity>
        <activity android:name=".GraphActivity" android:noHistory="true"></activity>
        <activity android:name=".WeightActivity" android:noHistory="true"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>